<div class="container bs-docs-container">
  <h1>ng2-truncate demo</h1>
  <h4><small><a href="https://github.com/yellowspot/ng2-truncate">GitHub Repo</a></small></h4>

  <div class="col-md-9">
    <div class="bs-docs-section">

      <h3>Character truncation</h3>

      <div class="bs-example">
        Truncate to 5 characters
        <p>
          <code class="language-html" data-lang="html">&lt;span&gt;&#123;<span>&#123;</span> "123456789" | truncate : 5  <span>&#125;</span>&#125;&lt;/span&gt;</code>
        </p>
      </div>
      <figure class="highlight">
        <pre><span>{{ "123456789" | truncate : 5 }}</span></pre>
      </figure>

      <div class="bs-example">
        Truncate to 5 characters trailing char counts (options as hash)
        <p>
          <code class="language-html" data-lang="html">&lt;span&gt;&#123;<span>&#123;</span> "123456789" | truncate : 5: &#123; countTrailing: '…', includeTrailing: true &#125;  <span>&#125;</span>&#125;&lt;/span&gt;</code>
        </p>
      </div>
      <figure class="highlight">
        <pre><span>{{ "123456789" | truncate : 5 : { trailingString: '…', countTrailing: true }  }}</span></pre>
      </figure>

      <div class="bs-example">
        Don't truncate when text is short than limit
        <p>
          <code class="language-html" data-lang="html">&lt;span&gt;&#123;<span>&#123;</span> "123456789" | truncate : 20  <span>&#125;</span>&#125;&lt;/span&gt;</code>
        </p>
      </div>
      <figure class="highlight">
        <pre><span>{{ "123456789" | truncate : 20 }}</span></pre>
      </figure>

      <div class="bs-example">
        Change ellipsis characters
        <p>
          <code class="language-html" data-lang="html">&lt;span&gt;&#123;<span>&#123;</span> "123456789" | truncate : 20 : '.'  <span>&#125;</span>&#125;&lt;/span&gt;</code>
        </p>
      </div>
      <figure class="highlight">
        <pre><span>{{ "123456789" | truncate : 5 : '.' }}</span></pre>
      </figure>

    </div>

    <div class="bs-docs-section">

      <h3>Words truncation</h3>

      <div class="bs-example">
        Truncate to 3 words
        <p>
          <code class="language-html" data-lang="html">&lt;span&gt;&#123;<span>&#123;</span> "I need to  truncate on word number 3" | words : 3  <span>&#125;</span>&#125;&lt;/span&gt;</code>
        </p>
      </div>
      <figure class="highlight">
        <pre><span>{{ "I need to  truncate on word number 3" | words : 3 }}</span></pre>
      </figure>

      <div class="bs-example">
        Change ellipsis characters
        <p>
          <code class="language-html" data-lang="html">&lt;span&gt;&#123;<span>&#123;</span> "I need to  truncate on word number 3" | words : 3 : '.'  <span>&#125;</span>&#125;&lt;/span&gt;</code>
        </p>
      </div>
      <figure class="highlight">
        <pre><span>{{ "I need to  truncate on word number 3" | words : 3 : '.' }}</span></pre>
      </figure>

    </div>
  </div>
</div>
